name: Spellcheck Action
on: push

jobs:
  build:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Checking spelling using pyspelling
        uses: rojopolis/spellcheck-github-actions@0.54.0
